<div class="col-lg-6 col-md-12 col-sm-12 mb-4 mt-4">
    <div class="card card-small ">
        <div class="card-header text-center">
            <h3>Pliki</h3>
{#            <a class="btn btn-outline-info" href="{{ path('app.admin.media.add') }}">Dodaj plik</a>#}
        </div>
        <div class="card-body pt-0" id="team-list">
            {% for file in mediaFiles %}
                <ul class="list-group">
                    <li class="list-group-item">
                        <div class="row">
                            <div class="col">
                                {{ file.name }}
                            </div>
                            <div class="btn-group col col-md col-lg-2">
                                <a class="btn btn-info btn-sm news-item"
                                   href="{{ path('app.admin.media.edit', {'media': file.id}) }}"
                                   data-toggle="tooltip"
                                   data-placement="left"
                                   title="Edytuj"
                                >
                                    <i class="fas fa-edit"></i>
                                </a>
                            </div>
                        </div>
                    </li>
                </ul>
            {% else %}
                Jeszcze nie ma żadnych plików.
            {% endfor %}
        </div>
    </div>
</div>

