{% extends 'admin/admin_base.html.twig' %}
{% block body %}
    <div class="d-flex justify-content-start">
        {% include 'admin/league/dashboard_content.html.twig' %}
    </div>
{% endblock %}


