{#<footer class="page-footer gradient-45deg-light-blue-cyan">#}
    {#<div class="footer-copyright">#}
        {#<div class="container">#}
            {#<span>Copyright ©#}
              {#<script type="text/javascript">#}
                {#document.write(new Date().getFullYear());#}
              {#</script> <a class="grey-text text-lighten-2" href="http://themeforest.net/user/pixinvent/portfolio?ref=pixinvent" target="_blank">PIXINVENT</a> All rights reserved.</span>#}
            {#<span class="right hide-on-small-only"> Design and Developed by <a class="grey-text text-lighten-2" href="https://pixinvent.com/">PIXINVENT</a></span>#}
        {#</div>#}
    {#</div>#}
{#</footer>#}
<footer class="main-footer d-flex p-2 px-3 bg-white border-top">
    <ul class="nav">
        <li class="nav-item">
            <a class="nav-link" href="#">Home</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="#">Services</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="#">About</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="#">Products</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="#">Blog</a>
        </li>
    </ul>
    <span class="copyright ml-auto my-auto mr-2">Copyright © 2018
      <a href="https://designrevision.com" rel="nofollow">DesignRevision</a>
    </span>
</footer>
