{% extends 'admin/admin_base.html.twig' %}
{% block body %}
    <h2 class="ui dividing header">Ostatnie newsy</h2>
    <div class="ui four doubling stackable cards">
        <div class="ui card">
            <div class="content">
                <div class="header">
                    <img src="../assets/images/wireframe/square-image.png" class="ui avatar right spaced image">
                    Abbreviated Header
                </div>
                <div class="description">
                    <img src="../assets/images/wireframe/paragraph.png" class="ui wireframe image">
                </div>
            </div>
            <div class="ui two bottom attached buttons">
                <div class="ui button">
                    Action 1
                </div>
                <div class="ui button">
                    Action 2
                </div>
            </div>
        </div>
        <div class="ui card">
            <div class="content">
                <div class="header">
                    <img src="../assets/images/wireframe/square-image.png" class="ui avatar right spaced image">
                    Abbreviated Header
                </div>
                <div class="description">
                    <img src="../assets/images/wireframe/paragraph.png" class="ui wireframe image">
                </div>
            </div>
            <div class="ui two bottom attached buttons">
                <div class="ui button">
                    Action 1
                </div>
                <div class="ui button">
                    Action 2
                </div>
            </div>
        </div>
        <div class="ui card">
            <div class="content">
                <div class="header">
                    <img src="../assets/images/wireframe/square-image.png" class="ui avatar right spaced image">
                    Abbreviated Header
                </div>
                <div class="description">
                    <img src="../assets/images/wireframe/paragraph.png" class="ui wireframe image">
                </div>
            </div>
            <div class="ui two bottom attached buttons">
                <div class="ui button">
                    Action 1
                </div>
                <div class="ui button">
                    Action 2
                </div>
            </div>
        </div>
        <div class="ui card">
            <div class="content">
                <div class="header">
                    <img src="../assets/images/wireframe/square-image.png" class="ui avatar right spaced image">
                    Abbreviated Header
                </div>
                <div class="description">
                    <img src="../assets/images/wireframe/paragraph.png" class="ui wireframe image">
                </div>
            </div>
            <div class="ui two bottom attached buttons">
                <div class="ui button">
                    Action 1
                </div>
                <div class="ui button">
                    Action 2
                </div>
            </div>
        </div>
        {#{{> card}}#}
        {#{{> card}}#}
        {#{{> card}}#}
    </div>

    {#<div class="ui four cards">#}




    {#</div>#}
{% endblock %}
