body {
    background-color: lightgray;
}

@media only screen and (min-width: 768px) {
    .hamburger {
        display: none !important;
    }
}

.hide {
    display: none !important;
}

.teal-color {
    color: #01d099;
}

.matchday-card {
    min-width: 400px;
}
