{% extends 'admin/admin_base.html.twig' %}
{% block body %}
    <div class="d-flex justify-content-start">
        {% include 'admin/season/dashboard_content.html.twig' %}
    </div>
{% endblock %}
{#{% block javascripts %}#}
{#    {{ parent() }}#}
{#    {{ encore_entry_script_tags('news') }}#}
{#{% endblock %}#}

