{% extends 'base.html.twig' %}
{% block body %}
    <section class="content-info">
        <div class="container paddings-mini">
            <div class="row">
                <div class="col-lg-12">
                    <h3 class="clear-title">Kontakt</h3>
                </div>
                <div class="panel-box mr-4">
                    <div class="info-panel">
                        <div class="text-center">
                            <p>
                                <strong>Adam</strong><br>
                                Finanse/Organizacja
                            </p>
                        </div>
                        <div class="text-center">
                            <p><strong>email:</strong> czliga6pl@gmail.com</p>
                            <p><strong>tel:</strong><a href="tel:+48713333222"> 721 089 074</a></p>
                        </div>

                    </div>
                </div>
                <div class="panel-box mr-4">
                    <div class="info-panel">
                        <div class="text-center">
                            <p>
                                <strong>Damian</strong><br>
                                Promocja/Media/Chęć dołączenia do ligi
                            </p>
                        </div>
                        <div class="text-center">
                            <p><strong>email:</strong> czliga6pl@gmail.com</p>
                            <p><strong>tel:</strong><a href="tel:+48797635275"> 797 635 275</a></p>
                        </div>
                    </div>
                </div>
                <div class="panel-box mr-4">
                    <div class="info-panel">
                        <div class="text-center">
                            <p>
                                <strong>Piotrek</strong><br>
                                Terminarz
                            </p>
                        </div>
                        <div class="text-center">
                            <p><strong>email:</strong> czliga6pl@gmail.com</p>
                            <p><strong>tel:</strong><a href="tel:+48783540444"> 783 540 444</a></p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
{% endblock %}
