<footer id="footer">
    <div class="top-footer">
        <div class="col-lg-12">
            <div class="logo-footer">
                <h2>Częstochowska Liga 6</h2>
            </div>
        </div>
        <ul class="social">
            <li>
                <div>
                    <a href="https://www.facebook.com/my6aside/" class="facebook">
                        <i class="fa fa-facebook"></i>
                    </a>
                </div>
            </li>
            <li>
                <div>
                    <a href="https://www.youtube.com/user/my6aside" class="youtube">
                        <i class="fa fa-youtube"></i>
                    </a>
                </div>
            </li>
        </ul>
    </div>
    <div class="container">
        <div class="d-flex justify-content-center">
            <p>&copy; 2021 Częstochowska Liga 6 - All Rights Reserverd --- Created by Kamil Ścisłowski</p>
        </div>
    </div>
</footer>
