<header>
    <!-- End headerbox-->
    <div class="headerbox">
        <div class="container">
            <div class="row justify-content-between align-items-center">
                <!-- Logo-->
                <div class="col">
                    <div class="logo">
                        <a href="{{ path('app.homepage') }}" title="Return Home">
                            <img src="{{ asset('build/img/logo.png') }}" alt="Logo" class="logo_img">
                        </a>
                    </div>
                </div>
                <!-- End Logo-->

                <!-- Adds Header-->
                <div class="col">
                    <div class="adds">
                        <a href="http://themeforest.net/user/iwthemes/portfolio?ref=iwthemes" target="_blank">
                            <img src="{{ asset('build/img/adds/banner.jpg') }}" alt="" class="img-responsive">
                        </a>
                    </div>

                    <!-- Call Nav Menu-->
                    <a class="mobile-nav" href="#mobile-nav"><i class="fa fa-bars"></i></a>
                    <!-- End Call Nav Menu-->
                </div>
                <!-- End Adds Header-->
            </div>
        </div>
    </div>
    <!-- End headerbox-->
</header>
