{% extends 'base.html.twig' %}
{% block body %}
    <section class="content-info">
        <div class="container paddings-mini">
           <div class="row">
                <div class="col-sm-12">
                    <!-- Content Text-->
                    <div class="panel-box">
                        <div class="titles no-margin">
                            <h4>{{ news.title }}</h4>
                        </div>
                        <div class="d-flex justify-content-center">
                            <img src="{{ news.photo.name is not null ? asset('images/news/' ~ news.photo.name) : asset('build/img/locations/1.jpg') }}" alt="">
                        </div>
                        <div class="info-panel">
                            {{ news.text|raw }}
                        </div>
                    </div>
                </div>
           </div>
        </div>
    </section>
{% endblock %}
