<div class="row no-line-height">
    <div class="col-md-12">
        <h3 class="clear-title">Sponsorzy</h3>
    </div>
</div>
<ul class="sponsors-carousel padding-bottom">
    <li><a href="https://www.romic-barbershop.pl" target="_blank"><img src="{{ asset('build/img/sponsors/sponsor_romic.jpg') }}" alt="romic"></a></li>
    <li><a href="http://www.sportowy24h.pl" target="_blank"><img src="{{ asset('build/img/sponsors/sponsor_footbalfactory.png') }}" alt="football_factory"></a></li>
</ul>
